/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

.container {
position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;

  max-width: 127.5rem;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

header > h2 {
  font-size: 6.25vw
}

footer {

}


.hero {

height: 100vh;
background-color: red;

/* background-color: rgb(255, 241, 193); */
}

.info {
 
  height: 100vh;
  background-color: blue;
  /* background-color: rgb(255, 241, 193); */
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
